version: '3.9'

services:
  nginx:
    container_name: gixpress_web_server
    image: nginx:latest
    ports:
      - 80:80
      - 443:443
    restart: always
    volumes:
      - ./docker/nginx/html:/var/www/html
      - ./docker/nginx/configurations/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./docker/certbot/conf:/etc/letsencrypt
      - ./docker/certbot/www:/var/www/certbot
    depends_on:
      - api

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes: 
      - ./docker/certbot/conf:/etc/letsencrypt
      - ./docker/certbot/www:/var/www/certbot
    command: certonly --webroot -w /var/www/certbot --force-renewal --email ahmad.uji1902@gmail.com -d upy.moe --agree-tos

  api:
    container_name: gixpress_app
    build:
      context: .
      dockerfile: ./docker/api/Dockerfile
    ports:
      - 2021:2021
    