version: '3.9'

services:
  nginx:
    container_name: gixpress_web_server
    image: nginx:latest
    ports:
      - 80:80
      - 443:443
    restart: always
    volumes:
      - ./docker/nginx/html:/var/www/html
      - ./docker/nginx/configurations/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./docker/certbot/conf:/etc/letsencrypt
      - ./docker/certbot/www:/var/www/certbot
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"
    depends_on:
      - api
  
  certbot:
    image: certbot/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

  api:
    container_name: gixpress_app
    build:
      context: .
      dockerfile: ./docker/api/Dockerfile
    ports:
      - 2021:2021
    