version: '3.9'

services:
  nginx:
    container_name: gixpress_web_server
    image: nginx:latest
    ports:
      - 80:80
      # - 443:443
    restart: always
    volumes:
      - ./docker/nginx/html:/var/www/html
      - ./docker/nginx/configurations/default.conf:/etc/nginx/conf.d/default.conf
      - ./docker/certbot/conf:/etc/letsencrypt
      - ./docker/certbot/www:/var/www/certbot

  certbot:
    image: certbot/certbot
    container_name: certbot
    command: >-
             certonly --reinstall --webroot --webroot-path=/var/www/certbot
             --email ahmad.uji1902@gmail.com --agree-tos --no-eff-email
             -d upy.moe
    volumes: 
      - ./docker/certbot/conf:/etc/letsencrypt
      - ./docker/certbot/www:/var/www/certbot
    depends_on:
      - nginx

  api:
    container_name: gixpress_app
    build:
      context: .
      dockerfile: ./docker/api/Dockerfile
    ports:
      - 2021:2021