version: '3.9'

services:
  api:
    container_name: dz_api
    build:
      context: .
      dockerfile: ./docker/api/Dockerfile
    ports:
      - 2021:2021
    expose:
      - 2021
    networks:
      - dz-network

  nginx:
    image: nginx:latest
    container_name: dz_nginx
    ports:
      - 80:80
      - 443:443
    restart: always
    volumes:
      - ./docker/nginx/html:/var/www/html
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./docker/nginx/nginx.ssl.conf:/etc/nginx/nginx.ssl.conf
      - ./docker/certbot/conf:/etc/letsencrypt/:ro
      - ./docker/certbot/www:/var/www/certbot/:ro
    depends_on:
      - api
    networks:
      - dz-network

networks:
  dz-network: