version: '3.9'

services:
  nginx:
    container_name: gixpress_web_server
    image: nginx:latest
    ports:
      - 80:80
      - 443:443
    restart: always
    volumes:
      - ./docker/nginx/html:/var/www/html
      - ./docker/nginx/configurations/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./docker/certbot/www:/var/www/certbot/:ro
      - ./docker/certbot/conf/:/etc/nginx/ssl/:ro
    depends_on:
      - api

  certbot:
    image: certbot/certbot:latest
    volumes:
      - ./docker/certbot/www/:/var/www/certbot/:rw
      - ./docker/certbot/conf/:/etc/letsencrypt/:rw

  api:
    container_name: gixpress_app
    build:
      context: .
      dockerfile: ./docker/api/Dockerfile
    ports:
      - 2021:2021
    