version: '3.9'

services:
  api:
    container_name: dz_api
    build:
      context: .
      dockerfile: ./docker/api/Dockerfile
    ports:
      - 2021:2021

  nginx:
    image: nginx:latest
    container_name: dz_nginx
    ports:
      - 80:80
      - 443:443
    restart: always
    volumes:
      - ./docker/nginx/html:/var/www/html
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./docker/certbot/conf:/etc/letsencrypt
      - ./docker/certbot/www:/var/www/certbot
    depends_on:
      - api